.Work {
  width: 85%;
  margin: auto;
  margin-top: 5%;
  /* background-color: whitesmoke; */
  margin-bottom: 5%;
}



/* //////////////////////////////////////////////////////// */
.Work ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: decimal;
  align-items: center;
  font-size: large;
  overflow: hidden;
  /* background-color: green; */
}

/* /////////////////////////////RIGHT////////////////////// */
.Work-li-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  /* gap: 4%; */
  margin-bottom: 4%;
}

/* /////////////////LEFT//////////////// */
.Work-li-left {
  /* flex-wrap: wrap; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 4%;
  /* gap: 4%; */
}


.Work-Detials {
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: justify;
  width: 45%;
  transition: all 500ms;
}

.Work-Detials summary {
  font-size: small;
}

.work-image {
  width: 45%;
  /* width: 25rem; */
  height: 15rem;
  opacity: 100;
  transform: translateX(0%);
  transition: all 500ms;
}

.Work h4 {
  margin: 0;
}

/* ////////////////////////////////////////// */

/* ////////////HIDDEN FOR WORKSAMPLE PAGE //////////////////////// */

.hidden-work-img {
  transition: all 500ms;
  opacity: 0;
  transform: translateX(-100%);
}

.hidden-work-detials {
  transition: all 500ms;
  opacity: 0;
  transform: translateY(100%);
}

/* //////////////////////////////////////////////////////////////////// */



.cssdata-conatainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.cssdata-card {
  height: 15rem;
  width: 20%;
  border-style: groove;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(34, 36, 36, 0.251);
  text-align: center;
}

.card-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.card_ {
  background-color: rgb(40, 70, 136);
  height: 2rem;
  width: 120%;
  transform: translate(-10%, -6%);
  border-top-left-radius: 15%;
  border-top-right-radius: 10%;
  display: flex;
  justify-content: space-between;
}

.card_1,
.card_2 {
  width: 9%;
  height: 100%;
}

.card_2 {
  width: 7%;
}

.card_1:first-child {
  transform: translateY(24px);
  background-color: rgba(18, 58, 145, 0.664);
  border-bottom-left-radius: 100%;
  height: 50%;
}

.card_2 :first-child {
  background-color: rgba(18, 58, 145, 0.664);
  transform: translateY(24px) rotateY(180deg);
  border-bottom-left-radius: 100%;
  height: 50%;
  width: 100%;
}

.foot_ {
  background-color: rgb(40, 70, 136);
  height: 2rem;
  width: 102%;
  transform: translate(-1%, 5%);
  border-bottom-right-radius: 10%;
  display: flex;
  justify-content: right;
}

.foot_1:first-child {
  right: 0;
  transform: translate(15%, -2%);
  width: 0%;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 1% solid rgb(12, 37, 90);
  border-bottom: 40px solid rgb(12, 37, 90);
}

.foot_2,
.foot_3 {
  background-color: rgba(31, 31, 32, 0.664);
  height: 10px;
  width: 7px;
  transform: translate(-8px);
}

.foot_3 {
  transform: translate(-50px, 22px);
  height: 8px;
  width: 8px;
}




@media (max-width: 860px) {
  .cssdata-card {
    width: 25%;
  }
}

@media (max-width: 1000px) {
  .cssdata-conatainer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .cssdata-card {
    width: 60%;
    /* height: 200%; */
  }

  .Work {
    width: 98%;
    /* background-color: aquamarine; */
  }

  .work-image {
    width: 20rem;
    height: 13rem;
  }

}

@media (max-width: 700px) {
  .work-image {
    width: 15rem;
    height: 10rem;
    margin: auto;
  }

  .Work-li-right,
  .Work-li-left {
    flex-direction: column-reverse;
    gap: 1rem;
    width: fit-content;
  }

  .Work ul {
    justify-content: center;
    gap: 2rem;
    justify-content: center;
    /* background-color: aquamarine; */
  }

  .Work-Detials {
    flex-wrap: wrap;
    width: 15rem;
  }

}