/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/Header.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.header {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  overflow: hidden;
}

.header-name {
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
  text-shadow: gray 1px 2px 1px;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

.header header {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  list-style: none;
  width: 55%;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
}

.list a {
  color: rgba(31, 30, 28, 0.781);
  cursor: pointer;
  transition: all 700ms;
  text-decoration: none;
}

.list a:hover {
  color: rgba(214, 14, 14, 0.781);
  transition: all 700ms;
}

.list--selected {
  border-bottom-style: groove;
  border-radius: 1px;
}

@media (max-width: 768px) {
  .header header {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }

  .list {
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    font-size: larger;
    width: 95%;
  }

  .list a {
    margin-top: 10px;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/WorkSamples/WorkSamples.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Work {
  width: 85%;
  margin: auto;
  margin-top: 5%;
  /* background-color: whitesmoke; */
  margin-bottom: 5%;
}



/* //////////////////////////////////////////////////////// */
.Work ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: decimal;
  align-items: center;
  font-size: large;
  overflow: hidden;
  /* background-color: green; */
}

/* /////////////////////////////RIGHT////////////////////// */
.Work-li-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  /* gap: 4%; */
  margin-bottom: 4%;
}

/* /////////////////LEFT//////////////// */
.Work-li-left {
  /* flex-wrap: wrap; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 4%;
  /* gap: 4%; */
}


.Work-Detials {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  text-align: justify;
  width: 45%;
  transition: all 500ms;
}

.Work-Detials summary {
  font-size: small;
}

.work-image {
  width: 45%;
  /* width: 25rem; */
  height: 15rem;
  opacity: 100;
  transform: translateX(0%);
  transition: all 500ms;
}

.Work h4 {
  margin: 0;
}

/* ////////////////////////////////////////// */

/* ////////////HIDDEN FOR WORKSAMPLE PAGE //////////////////////// */

.hidden-work-img {
  transition: all 500ms;
  opacity: 0;
  transform: translateX(-100%);
}

.hidden-work-detials {
  transition: all 500ms;
  opacity: 0;
  transform: translateY(100%);
}

/* //////////////////////////////////////////////////////////////////// */



.cssdata-conatainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.cssdata-card {
  height: 15rem;
  width: 20%;
  border-style: groove;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(34, 36, 36, 0.251);
  text-align: center;
}

.card-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.card_ {
  background-color: rgb(40, 70, 136);
  height: 2rem;
  width: 120%;
  transform: translate(-10%, -6%);
  border-top-left-radius: 15%;
  border-top-right-radius: 10%;
  display: flex;
  justify-content: space-between;
}

.card_1,
.card_2 {
  width: 9%;
  height: 100%;
}

.card_2 {
  width: 7%;
}

.card_1:first-child {
  transform: translateY(24px);
  background-color: rgba(18, 58, 145, 0.664);
  border-bottom-left-radius: 100%;
  height: 50%;
}

.card_2 :first-child {
  background-color: rgba(18, 58, 145, 0.664);
  transform: translateY(24px) rotateY(180deg);
  border-bottom-left-radius: 100%;
  height: 50%;
  width: 100%;
}

.foot_ {
  background-color: rgb(40, 70, 136);
  height: 2rem;
  width: 102%;
  transform: translate(-1%, 5%);
  border-bottom-right-radius: 10%;
  display: flex;
  justify-content: right;
}

.foot_1:first-child {
  right: 0;
  transform: translate(15%, -2%);
  width: 0%;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 1% solid rgb(12, 37, 90);
  border-bottom: 40px solid rgb(12, 37, 90);
}

.foot_2,
.foot_3 {
  background-color: rgba(31, 31, 32, 0.664);
  height: 10px;
  width: 7px;
  transform: translate(-8px);
}

.foot_3 {
  transform: translate(-50px, 22px);
  height: 8px;
  width: 8px;
}




@media (max-width: 860px) {
  .cssdata-card {
    width: 25%;
  }
}

@media (max-width: 1000px) {
  .cssdata-conatainer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .cssdata-card {
    width: 60%;
    /* height: 200%; */
  }

  .Work {
    width: 98%;
    /* background-color: aquamarine; */
  }

  .work-image {
    width: 20rem;
    height: 13rem;
  }

}

@media (max-width: 700px) {
  .work-image {
    width: 15rem;
    height: 10rem;
    margin: auto;
  }

  .Work-li-right,
  .Work-li-left {
    flex-direction: column-reverse;
    gap: 1rem;
    width: -moz-fit-content;
    width: fit-content;
  }

  .Work ul {
    gap: 2rem;
    justify-content: center;
    /* background-color: aquamarine; */
  }

  .Work-Detials {
    flex-wrap: wrap;
    width: 15rem;
  }

}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/Clock/Clock.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.clock {
  background-color: rgba(6, 187, 127, 0.224);
  border-style: groove;
  border: 2px solid rgb(7, 33, 7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 2%;
}

.Digitelclock {
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  color: grey;
}

.Wallclock {
  width: 12rem;
  height: 12rem;
  background-color: rgb(11, 180, 11);
  border-radius: 100%;
  border: 10px solid rgb(7, 33, 7);
  position: relative;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.clockNumbers {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 12rem;
  background-color: transparent;
  /* padding: 45px; */
}

.clockNumbers2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 12rem;
  background-color: transparent
}

/* //////////////////////////////////////// */
.HourHand {
  position: absolute;
  height: 8rem;
  width: 2px;
  display: flex;
  flex-direction: row;
  flex-direction: space-between;
  transition: all 1s;
  background-color: transparent;
}

.HourHand :nth-child(1) {
  height: 4rem;
  width: 25rem;
  background-color: rgb(255, 0, 230);
}

/* /////////////////////////////////// */
.MinuteHand {
  position: absolute;
  height: 10rem;
  width: 2px;
  display: flex;
  flex-direction: row;
  flex-direction: space-between;
  background-color: transparent;
  transition: all 1s;
}

.MinuteHand :nth-child(1) {
  height: 5rem;
  width: 25rem;
  background-color: rgb(2, 83, 14);
}

/* ///////////////////////////////// */
.SecondHand {
  position: absolute;
  height: 12rem;
  width: 2px;
  background-color: transparent;
  /* transition: all 1s; */
  display: flex;
  flex-direction: row;
  flex-direction: space-between;
}

.SecondHand :nth-child(1) {
  height: 6rem;
  width: 25rem;
  background-color: blue;
}

