body {
  background-color: white;
}

.image {
  display: flex;
  margin: auto;
  justify-content: center;
}

.Divider {
  background-color: black;
  height: 1px;
  margin-top: 16%;
  margin-bottom: 5%;
}
