.first {
  display: flex;
  border-color: black;
  width: 85%;
  margin: auto;
  border-radius: 5%;
  margin-top: 4%;
  color: goldenrod;
  font-family: "Times New Roman", Times, serif;
}

.first b {
  color: rgba(10, 29, 2, 0.719);
}
.summary {
  width: 40%;
  font-size: medium;
  padding: 4%;
  color: #504c4c8e;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: 700;
}

.summary h1 {
  color: #000;
}

.summary button {
  width: 40%;
  margin-top: 2%;
  background-color: transparent;
  color: rgb(31, 30, 30);
  border-radius: 5%;
  padding: 1%;
  font-size: medium;
  cursor: pointer;
  transition: all 500ms;
}

.summary button:hover {
  background-color: rgba(0, 0, 255, 0.37);
  color: whitesmoke;
  transition: all 500ms;
}

.image {
  border-radius: 100%;
  width: 20%;
  height: 20%;
  background-color: aqua;
}

@media (max-width: 768px) {
  .first {
    width: 95%;
  }

  .summary {
    width: 100%;
  }

  .summary button {
    width: 100%;
  }

  .image {
    width: 55%;
    height: 55%;
  }
}
