.first {
  display: flex;
  border-color: black;
  width: 85%;
  margin: auto;
  border-radius: 5%;
  margin-top: 4%;
  color: goldenrod;
  font-family: "Times New Roman", Times, serif;
}

.summary {
  width: 100%;
  font-size: x-large;
  padding: 4%;
  color: #1a1a1a9e;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: 700;

}

.summary h1 {
  color: #000;
  font-size: large;
  /* text-shadow: #898b898a 3px 3px 3px; */
}


.summary h2 {
  color: #000;
  margin: 0;
  font-size: x-large;
}

.summary button {
  width: 20%;
  margin-top: 2%;
  background-color: transparent;
  color: rgb(31, 30, 30);
  border-radius: 20%;
  padding: 1%;
  font-size: medium;
  cursor: pointer;
  transition: all 500ms;
}

.summary button:hover {
  background-color: rgba(0, 0, 255, 0.37);
  color: whitesmoke;
  transition: all 500ms;
}

.image {
  border-radius: 1px;
  width: 20%;
  height: 14.5rem;
  background-color: aqua;
}

.skills-cover {
  /* background-color: azure; */
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.skills {
  display: block;
  width: 75%;

}

.skills h2 {
  margin: auto;
  text-align: center;
}

.skills div {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 10rem;
}

.skills button {
  background-color: #8FB8DE;
  padding: auto;
}

.social-conatinar {
  display: flex;
  width: 50%;
  gap: 3%;
}





/* #1 */
.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* #2 */
.Center {
  display: flex;
  align-content: center;
}



/* #3 */
.Center {
  display: flex;
  align-self: center;
}







@media (max-width: 768px) {
  .first {
    width: 95%;
  }

  .summary {
    width: 100%;
  }

  .summary button {
    width: 95%;
  }

  .image {
    width: 55%;
    height: 55%;
  }
}