.header {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  overflow: hidden;
}

.header-name {
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
  text-shadow: gray 1px 2px 1px;
}

.header header {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  list-style: none;
  width: 55%;
  justify-content: space-between;
  height: fit-content;
  padding: 10px;
}

.list li {
  color: rgba(31, 30, 28, 0.781);
  cursor: pointer;
  transition: all 700ms;
}

.list li:hover {
  color: rgba(214, 14, 14, 0.781);
  transition: all 700ms;
}

.list--selected {
  border-bottom-style: groove;
  border-radius: 1px;
}

@media (max-width: 768px) {
  .header header {
    flex-direction: column;
    height: fit-content;
  }

  .list {
    flex-direction: column;
    width: fit-content;
    font-size: larger;
    width: 95%;
  }

  .list li {
    margin-top: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
