/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/global.css ***!
  \************************************************************************************************************************************************************************************************************************************************************/
body {
  background-color: white;
}

.image {
  display: flex;
  margin: auto;
  justify-content: center;
}

.Divider {
  background-color: black;
  height: 1px;
  margin-top: 16%;
  margin-bottom: 5%;
}

