/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/Detials/Detials.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.detail {
  width: 85%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  opacity: 100;
  transform: translateY(-2rem);
  transition: all 400ms;
}

.hidden {
  transition: all 400ms;
  opacity: 0;
  transform: translateY(2rem);
}

.job-type {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(180, 180, 16);
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10%;
}

.job-type-image {
  width: 10%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.detials {
  display: flex;
  justify-content: space-between;
}

.detials b {
  text-align: left;
  width: 70%;
}

.skills {
  /* background-color: aqua; */
  width: 70%;
}

@media (max-width: 768px) {
  .first {
    flex-direction: column;
    width: 95%;
  }

  .image {
    margin: auto;
    border-radius: 10%;
  }

  .job-type {
    width: 50%;
    align-items: center;
  }

  .detials {
    flex-direction: column;
  }

  .detials b {
    width: 100%;
  }
  .skills {
    width: 100%;
  }

  .detail {
    margin-top: 15%;
  }
}

@media (max-width: 1024px) {
  .first {
    flex-wrap: wrap;
  }
}
@media (max-width: 465px) {
  .first {
    font-size: small;
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/FirstPage.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.first {
  display: flex;
  border-color: black;
  width: 85%;
  margin: auto;
  border-radius: 5%;
  margin-top: 4%;
  color: goldenrod;
  font-family: "Times New Roman", Times, serif;
}

.summary {
  width: 40%;
  font-size: medium;
  padding: 4%;
  color: #504c4c8e;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: 700;
}

.summary h1 {
  color: #000;
  text-shadow: #898b898a 3px 3px 3px;
}

.summary button {
  width: 40%;
  margin-top: 2%;
  background-color: transparent;
  color: rgb(31, 30, 30);
  border-radius: 5%;
  padding: 1%;
  font-size: medium;
  cursor: pointer;
  transition: all 500ms;
}

.summary button:hover {
  background-color: rgba(0, 0, 255, 0.37);
  color: whitesmoke;
  transition: all 500ms;
}

.image {
  border-radius: 100%;
  width: 20%;
  height: 20%;
  background-color: aqua;
}

@media (max-width: 768px) {
  .first {
    width: 95%;
  }

  .summary {
    width: 100%;
  }

  .summary button {
    width: 95%;
  }

  .image {
    width: 55%;
    height: 55%;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/Header.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.header {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  overflow: hidden;
}

.header-name {
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
  text-shadow: gray 1px 2px 1px;
}

.header header {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  list-style: none;
  width: 55%;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
}

.list li {
  color: rgba(31, 30, 28, 0.781);
  cursor: pointer;
  transition: all 700ms;
}

.list li:hover {
  color: rgba(214, 14, 14, 0.781);
  transition: all 700ms;
}

.list--selected {
  border-bottom-style: groove;
  border-radius: 1px;
}

@media (max-width: 768px) {
  .header header {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }

  .list {
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    font-size: larger;
    width: 95%;
  }

  .list li {
    margin-top: 10px;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

